In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mpl

pd.options.display.max_columns = 50
sns.set(style="darkgrid",rc={"axes.facecolor":"CAF1DE"})

In [3]:
df = pd.read_csv("sample.csv")
df

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,PERSONS TAKEN TO COURT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACCUSED CHARGED,NaN,NaN,NaN,ACCUSED CONVICTED,NaN,NaN,NaN,NaN,NaN,NaN,IMPRISONMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,Cases pending in Court,Male Adult,Male Juven.,Female Adult,Female Juven.,Male Adult,Male Juven.,Female Adult,Female Juven.,Acquitted,Discharged,Awaiting Trial,Male Adult,Male Juven.,Female Adult,Female Juven.,Death,Fined,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,9,10,NaN,NaN,NaN,11,NaN,NaN,NaN,12,13,14,NaN,NaN,NaN,15,16,17,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,39,85,-,-,-,4,-,-,-,1,1,79,4,-,-,-,-,-,-,-,-,-,197,4,17,-,"11,500,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,144,609,7,17,-,377,-,11,-,10,42,193,249,3,4,-,-,107,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,1,1,-,-,-,-,-,-,-,-,-,1,-,-,-,-,-,-,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,93,641,12,76,-,323,8,44,-,1,56,297,121,2,3,-,-,120,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,500,"3,592",49,416,138,"2,183",54,314,19,29,280,"1,316","1,291",7,18,-,-,810,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121","38,411","79,083","2,355","5,988",596,"24,716",812,"1,944",223,"1,666","12,518","46,143","17,138",274,823,31,-,"1,967",83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [5]:
df.shape

(127, 38)

In [7]:
column_headers = df.columns
print(column_headers)

Index(['Unnamed: 0', 'Unnamed: 1', 'REPORTED CASES', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'PERFOMANCE', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'PERSONS TAKEN TO COURT', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'SENTENCES IMPOSED BY COURTS', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37'],
      dtype='object')

In [8]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'REPORTED CASES', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'PERFOMANCE', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'PERSONS TAKEN TO COURT', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'SENTENCES IMPOSED BY COURTS', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37'],
      dtype='object')

In [9]:
df.head()

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,PERSONS TAKEN TO COURT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACCUSED CHARGED,NaN,NaN,NaN,ACCUSED CONVICTED,NaN,NaN,NaN,NaN,NaN,NaN,IMPRISONMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,Cases pending in Court,Male Adult,Male Juven.,Female Adult,Female Juven.,Male Adult,Male Juven.,Female Adult,Female Juven.,Acquitted,Discharged,Awaiting Trial,Male Adult,Male Juven.,Female Adult,Female Juven.,Death,Fined,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,9,10,NaN,NaN,NaN,11,NaN,NaN,NaN,12,13,14,NaN,NaN,NaN,15,16,17,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,39,85,-,-,-,4,-,-,-,1,1,79,4,-,-,-,-,-,-,-,-,-,197,4,17,-,"11,500,000",-

In [10]:
df.tail()

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,PERSONS TAKEN TO COURT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
122,98,UWA Statute,648,112,89,447,485,269,8,26,144,609,7,17,-,377,-,11,-,10,42,193,249,3,4,-,-,107,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,1,1,-,-,-,-,-,-,-,-,-,1,-,-,-,-,-,-,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,93,641,12,76,-,323,8,44,-,1,56,297,121,2,3,-,-,120,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,500,"3,592",49,416,138,"2,183",54,314,19,29,280,"1,316","1,291",7,18,-,-,810,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121","38,411","79,083","2,355","5,988",596,"24,716",812,"1,944",223,"1,666","12,518","46,143","17,138",274,823,31,-,"1,967",83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [11]:
df.describe()

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,PERSONS TAKEN TO COURT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
count,95,125,125,125,125,125,125,125,125,125,125,126,124,124,124,126,124,124,124,109,109,109,109,108,108,109,109,109,109,109,109,109,100,107,99,108,110,109
unique,95,125,104,95,89,89,98,66,41,60,84,92,43,60,27,75,30,39,18,40,69,96,72,21,32,10,3,42,15,46,51,68,91,50,75,45,66,55
top,S/No.,CASE/CRIME INCIDENCES,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
freq,1,1,17,18,24,20,19,34,55,39,20,21,53,36,76,35,70,57,92,37,20,4,21,62,48,88,107,32,77,40,38,36,4,33,11,50,41,53

In [12]:
#Checking for null values
print(df.isnull().sum())

Unnamed: 0                     32
Unnamed: 1                      2
REPORTED CASES                  2
Unnamed: 3                      2
Unnamed: 4                      2
Unnamed: 5                      2
PERFOMANCE                      2
Unnamed: 7                      2
Unnamed: 8                      2
Unnamed: 9                      2
Unnamed: 10                     2
PERSONS TAKEN TO COURT          1
Unnamed: 12                     3
Unnamed: 13                     3
Unnamed: 14                     3
Unnamed: 15                     1
Unnamed: 16                     3
Unnamed: 17                     3
Unnamed: 18                     3
Unnamed: 19                    18
Unnamed: 20                    18
Unnamed: 21                    18
SENTENCES IMPOSED BY COURTS    18
Unnamed: 23                    19
Unnamed: 24                    19
Unnamed: 25                    18
Unnamed: 26                    18
Unnamed: 27                    18
Unnamed: 28                    18
Unnamed: 29                    18
Unnamed: 30                    18
Unnamed: 31                    18
Unnamed: 32                    27
Unnamed: 33                    20
Unnamed: 34                    28
Unnamed: 35                    19
Unnamed: 36                    17
Unnamed: 37                    18
dtype: int64

In [31]:
#naming unnamed columns
# Rename the unnamed columns with appropriate names
df.rename(columns={'Unnamed: 0':'POSITION','Unnamed: 1':'CASES','Unnamed: 3':'Total Cases','Unnamed: 4':'Cases Under Inquiry','Unnamed: 5':'Not Detected',
                  'Unnamed: 7':'Cases Taken to Court','Unnamed: 8':'Cases Submitted to DPF','Unnamed: 9':'Cases with convictions','Unnamed: 10':'Cases With Convictions',
                  'Unnamed: 12':'Cases with acquitals','Unnamed: 13':'Cases Dismissed','Unnamed: 14':'Pending in Court','Unnamed: 15':'ACCUSED CHARGED','Unnamed: 16':'POSITION'}, inplace=True)

In [32]:
df.columns

Index(['POSITION', 'CASES', 'REPORTED CASES', 'Total Cases', 'Not Detected',
       'Not Detected', 'PERFOMANCE', 'Cases Taken to Court',
       'Cases Submitted to DPF', 'Cases with convictions',
       'Cases With Convictions', 'PERSONS TAKEN TO COURT',
       'Cases with acquitals', 'Cases Dismissed', 'Pending in Court',
       'ACCUSED CHARGED', 'POSITION', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'SENTENCES IMPOSED BY COURTS', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37'],
      dtype='object')

In [33]:
df.head()

,POSITION,CASES,REPORTED CASES,Total Cases,Not Detected,Not Detected,PERFOMANCE,Cases Taken to Court,Cases Submitted to DPF,Cases with convictions,Cases With Convictions,PERSONS TAKEN TO COURT,Cases with acquitals,Cases Dismissed,Pending in Court,ACCUSED CHARGED,POSITION,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
4,1,Death (by shooting),190,117,29,44,74,3,1,1,39,85,-,-,-,4,-,-,-,1,1,79,4,-,-,-,-,-,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,93,194,-,10,-,3,-,-,-,-,3,198,3,-,-,-,-,-,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,15,9,-,9,-,-,-,-,-,-,-,18,-,-,-,-,-,-,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,214,208,4,73,2,7,1,6,-,-,4,269,3,1,10,-,-,-,-,-,-,-,174,25,138,16,-,-
8,5,Death(Fire Out Breaks),42,25,11,6,14,-,-,-,6,8,2,3,-,-,-,-,-,-,-,13,-,-,-,-,-,-,-,-,-,-,16,24,7,19,-,-

In [36]:
df.head()

,POSITION,CASES,Total Cases,Not Detected,Not Detected,PERFOMANCE,Cases Taken to Court,Cases Submitted to DPF,Cases with convictions,Cases With Convictions,PERSONS TAKEN TO COURT,Cases with acquitals,Cases Dismissed,Pending in Court,ACCUSED CHARGED,POSITION,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
4,1,Death (by shooting),117,29,44,74,3,1,1,39,85,-,-,-,4,-,-,-,1,1,79,4,-,-,-,-,-,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),431,109,96,176,2,-,1,93,194,-,10,-,3,-,-,-,-,3,198,3,-,-,-,-,-,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),54,12,15,17,-,-,-,15,9,-,9,-,-,-,-,-,-,-,18,-,-,-,-,-,-,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),107,24,231,239,15,-,2,214,208,4,73,2,7,1,6,-,-,4,269,3,1,10,-,-,-,-,-,-,-,174,25,138,16,-,-
8,5,Death(Fire Out Breaks),25,11,6,14,-,-,-,6,8,2,3,-,-,-,-,-,-,-,13,-,-,-,-,-,-,-,-,-,-,16,24,7,19,-,-