In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.options.display.max_columns = 50
sns.set(style="darkgrid",rc={"axes.facecolor":"CAF1DE"})

In [3]:
df = pd.read_csv("results.csv")
df

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,% DIV 4,TOTAL DIV 7,% DIV 7,TOTAL DIV 9,% DIV 9,TOTAL X,% X,FEMALE CANDIDATES,FEMALE TOTAL DIV1,FEMALE % DIV1,FEMALE TOTAL DIV2,FEMALE % DIV2,FEMALE TOTAL DIV3,FEMALE % DIV3,FEMALE TOTAL DIV4,FEMALE % DIV4,FEMALE TOTAL DIV7,FEMALE % DIV7,FEMALE TOTAL DIV9,FEMALE % DIV9,FEMALE TOTAL X,FEMALE % X,MALE CANDIDATES,MALE TOTAL DIV1,MALE % DIV1,MALE TOTAL DIV2,MALE % DIV2,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,176,175.0,99.4,1.0,0.6,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1.0,0.7,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,151,NaN,99.3,150.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,153,151.0,98.7,2.0,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,113,107.0,94.7,6.0,5.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,109,NaN,100.0,109.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,73,NaN,97.3,71.0,2.7,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,85.0,57.4,1.0,0.7,15.0,10.1,5.0,3.4,44,0.0,0.0,0.0,0.0,5.0,11.4,32.0,72.7,1.0,2.3,5.0,11.4,1.0,2.3,104,0.0,0.0,12.0,11.5,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,50.0,73.5,0.0,0.0,5.0,7.4,0.0,0.0,28,0.0,0.0,1.0,3.6,4.0,14.3,21.0,75.0,0.0,0.0,2.0,7.1,0.0,0.0,40,0.0,0.0,1.0,2.5,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,71.0,55.5,1.0,0.8,36.0,28.1,10.0,7.8,24,0.0,0.0,0.0,0.0,0.0,0.0,17.0,70.8,0.0,0.0,5.0,20.8,2.0,8.3,104,0.0,0.0,4.0,3.8,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,26.0,57.8,0.0,0.0,14.0,31.1,2.0,4.4,14,0.0,0.0,1.0,7.1,0.0,0.0,7.0,50.0,0.0,0.0,5.0,35.7,1.0,7.1,31,0.0,0.0,0.0,0.0,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,25.0,50.0,0.0,0.0,17.0,34.0,3.0,6.0,28,0.0,0.0,0.0,0.0,0.0,0.0,15.0,53.6,0.0,0.0,10.0,35.7,3.0,10.7,22,0.0,0.0,1.0,4.5,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [4]:
df.head()

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,% DIV 4,TOTAL DIV 7,% DIV 7,TOTAL DIV 9,% DIV 9,TOTAL X,% X,FEMALE CANDIDATES,FEMALE TOTAL DIV1,FEMALE % DIV1,FEMALE TOTAL DIV2,FEMALE % DIV2,FEMALE TOTAL DIV3,FEMALE % DIV3,FEMALE TOTAL DIV4,FEMALE % DIV4,FEMALE TOTAL DIV7,FEMALE % DIV7,FEMALE TOTAL DIV9,FEMALE % DIV9,FEMALE TOTAL X,FEMALE % X,MALE CANDIDATES,MALE TOTAL DIV1,MALE % DIV1,MALE TOTAL DIV2,MALE % DIV2,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,176,175.0,99.4,1.0,0.6,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1.0,0.7,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,151,NaN,99.3,150.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,153,151.0,98.7,2.0,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,113,107.0,94.7,6.0,5.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,109,NaN,100.0,109.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,73,NaN,97.3,71.0,2.7,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0

In [5]:
df.tail()

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,% DIV 4,TOTAL DIV 7,% DIV 7,TOTAL DIV 9,% DIV 9,TOTAL X,% X,FEMALE CANDIDATES,FEMALE TOTAL DIV1,FEMALE % DIV1,FEMALE TOTAL DIV2,FEMALE % DIV2,FEMALE TOTAL DIV3,FEMALE % DIV3,FEMALE TOTAL DIV4,FEMALE % DIV4,FEMALE TOTAL DIV7,FEMALE % DIV7,FEMALE TOTAL DIV9,FEMALE % DIV9,FEMALE TOTAL X,FEMALE % X,MALE CANDIDATES,MALE TOTAL DIV1,MALE % DIV1,MALE TOTAL DIV2,MALE % DIV2,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,85.0,57.4,1.0,0.7,15.0,10.1,5.0,3.4,44,0.0,0.0,0.0,0.0,5.0,11.4,32.0,72.7,1.0,2.3,5.0,11.4,1.0,2.3,104,0.0,0.0,12.0,11.5,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,50.0,73.5,0.0,0.0,5.0,7.4,0.0,0.0,28,0.0,0.0,1.0,3.6,4.0,14.3,21.0,75.0,0.0,0.0,2.0,7.1,0.0,0.0,40,0.0,0.0,1.0,2.5,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,71.0,55.5,1.0,0.8,36.0,28.1,10.0,7.8,24,0.0,0.0,0.0,0.0,0.0,0.0,17.0,70.8,0.0,0.0,5.0,20.8,2.0,8.3,104,0.0,0.0,4.0,3.8,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,26.0,57.8,0.0,0.0,14.0,31.1,2.0,4.4,14,0.0,0.0,1.0,7.1,0.0,0.0,7.0,50.0,0.0,0.0,5.0,35.7,1.0,7.1,31,0.0,0.0,0.0,0.0,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,25.0,50.0,0.0,0.0,17.0,34.0,3.0,6.0,28,0.0,0.0,0.0,0.0,0.0,0.0,15.0,53.6,0.0,0.0,10.0,35.7,3.0,10.7,22,0.0,0.0,1.0,4.5,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [6]:
df.shape

(17639, 48)

In [7]:
df.describe()

,YEAR,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,% DIV 4,TOTAL DIV 7,% DIV 7,TOTAL DIV 9,% DIV 9,TOTAL X,% X,FEMALE CANDIDATES,FEMALE TOTAL DIV1,FEMALE % DIV1,FEMALE TOTAL DIV2,FEMALE % DIV2,FEMALE TOTAL DIV3,FEMALE % DIV3,FEMALE TOTAL DIV4,FEMALE % DIV4,FEMALE TOTAL DIV7,FEMALE % DIV7,FEMALE TOTAL DIV9,FEMALE % DIV9,FEMALE TOTAL X,FEMALE % X,MALE CANDIDATES,MALE TOTAL DIV1,MALE % DIV1,MALE TOTAL DIV2,MALE % DIV2,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
count,17639.000000,17368.000000,12858.000000,17639.000000,16880.000000,17639.000000,17168.000000,17639.000000,16888.000000,17639.000000,6489.000000,17639.000000,13454.000000,17639.000000,13404.000000,17639.000000,17639.000000,8525.000000,17581.000000,14332.000000,17581.000000,16474.000000,17581.000000,16681.000000,17581.000000,4764.000000,17581.000000,12349.000000,17581.000000,10596.000000,17581.000000,17639.000000,10038.000000,17505.000000,15242.000000,17505.000000,16399.000000,17505.000000,16260.000000,17505.000000,7508.000000,17505.000000,10519.000000,17505.000000,10379.000000,17505.000000
mean,2013.582119,100.111469,10.348266,6.226481,16.058649,14.748733,22.545841,22.165344,45.981348,45.378326,1.046078,0.382244,9.558050,7.266540,2.657863,2.298084,47.332332,5.878358,3.805352,7.919481,11.363563,10.912711,20.377550,24.161561,49.809442,0.564861,0.320869,5.580128,8.897230,1.591638,2.282384,51.240376,6.816099,7.166638,9.413660,16.084376,12.141899,22.275321,21.750308,40.687735,7.981220,0.427552,5.304687,6.074424,1.937759,2.206164
std,1.710821,66.964610,26.214334,13.266156,19.324105,12.800108,17.804404,10.241613,35.558741,20.025948,1.730146,1.335760,12.479929,9.096874,2.530821,4.024644,35.431641,18.156235,10.847910,11.630343,13.319420,9.944539,12.618037,18.242379,22.131324,1.254759,1.568458,6.612413,11.640903,1.393710,4.304942,40.639993,16.999465,13.730464,12.531194,13.493864,10.747881,11.836926,18.530590,21.373996,15.589676,1.522106,7.048635,8.668762,2.284239,4.182025
min,2011.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,54.000000,1.000000,0.000000,4.000000,5.500000,10.000000,15.300000,22.000000,35.400000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,23.000000,1.000000,0.000000,2.000000,1.600000,4.000000,11.100000,11.000000,39.100000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,25.000000,1.000000,0.000000,3.000000,6.100000,5.000000,14.900000,9.000000,27.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,2014.000000,84.000000,3.000000,1.800000,10.000000,10.900000,18.000000,22.200000,38.000000,50.400000,1.000000,0.000000,5.000000,3.900000,2.000000,1.600000,40.000000,1.000000,0.000000,4.000000,6.700000,8.000000,19.700000,20.000000,54.800000,0.000000,0.000000,3.000000,4.500000,1.000000,0.900000,42.000000,2.000000,2.200000,6.000000,12.700000,9.000000,22.400000,17.000000,45.300000,1.000000,0.000000,3.000000,2.600000,1.000000,0.800000
75%,2015.000000,128.000000,8.000000,5.700000,20.000000,20.400000,30.000000,29.000000,61.000000,59.400000,1.000000,0.000000,12.000000,10.700000,3.000000,3.200000,62.000000,4.000000,2.900000,9.000000,16.000000,15.000000,28.600000,32.000000,65.000000,1.000000,0.000000,7.000000,13.500000,2.000000,3.400000,68.000000,6.000000,7.700000,11.000000,23.400000,16.000000,29.900000,29.000000,56.300000,9.000000,0.000000,7.000000,9.000000,2.000000,3.200000
max,2016.000000,499.000000,430.000000,100.000000,245.000000,100.000000,179.000000,100.000000,302.000000,100.000000,31.000000,66.700000,133.000000,76.700000,80.000000,100.000000,286.000000,235.000000,100.000000,145.000000,100.000000,109.000000,100.000000,150.000000,100.000000,24.000000,47.400000,67.000000,100.000000,31.000000,100.000000,341.000000,274.000000,100.000000,234.000000,100.000000,140.000000,100.000000,170.000000,100.000000,178.000000,66.700000,81.000000,100.000000,49.000000,100.000000

In [9]:
df.duplicated().sum()

0

In [11]:
df.isnull().sum()

YEAR                      0
DISTRICT                  0
SCHOOL                    1
TOTAL CANDIDATES        271
TOTAL DIV 1            4781
% DIV 1                   0
TOTAL DIV 2             759
% DIV 2                   0
TOTAL DIV 3             471
% DIV 3                   0
TOTAL DIV 4             751
% DIV 4                   0
TOTAL DIV 7           11150
% DIV 7                   0
TOTAL DIV 9            4185
% DIV 9                   0
TOTAL X                4235
% X                       0
FEMALE CANDIDATES         0
FEMALE TOTAL DIV1      9114
FEMALE % DIV1            58
FEMALE TOTAL DIV2      3307
FEMALE % DIV2            58
FEMALE TOTAL DIV3      1165
FEMALE % DIV3            58
FEMALE TOTAL DIV4       958
FEMALE % DIV4            58
FEMALE TOTAL DIV7     12875
FEMALE % DIV7            58
FEMALE TOTAL DIV9      5290
FEMALE % DIV9            58
FEMALE TOTAL X         7043
FEMALE % X               58
MALE CANDIDATES           0
MALE TOTAL DIV1        7601
MALE % DIV1             134
MALE TOTAL DIV2        2397
MALE % DIV2             134
MALE TOTAL DIV3        1240
MALE % DIV3             134
MALE TOTAL DIV4        1379
MALE % DIV4             134
MALE TOTAL DIV7       10131
MALE % DIV7             134
MALE TOTAL DIV9        7120
MALE % DIV9             134
MALE TOTAL X           7260
MALE % X                134
dtype: int64

In [18]:
df2 = df.fillna(0)

In [16]:
df2.isnull().sum()

YEAR                  0
DISTRICT              0
SCHOOL                0
TOTAL CANDIDATES      0
TOTAL DIV 1           0
% DIV 1               0
TOTAL DIV 2           0
% DIV 2               0
TOTAL DIV 3           0
% DIV 3               0
TOTAL DIV 4           0
% DIV 4               0
TOTAL DIV 7           0
% DIV 7               0
TOTAL DIV 9           0
% DIV 9               0
TOTAL X               0
% X                   0
FEMALE CANDIDATES     0
FEMALE TOTAL DIV1     0
FEMALE % DIV1         0
FEMALE TOTAL DIV2     0
FEMALE % DIV2         0
FEMALE TOTAL DIV3     0
FEMALE % DIV3         0
FEMALE TOTAL DIV4     0
FEMALE % DIV4         0
FEMALE TOTAL DIV7     0
FEMALE % DIV7         0
FEMALE TOTAL DIV9     0
FEMALE % DIV9         0
FEMALE TOTAL X        0
FEMALE % X            0
MALE CANDIDATES       0
MALE TOTAL DIV1       0
MALE % DIV1           0
MALE TOTAL DIV2       0
MALE % DIV2           0
MALE TOTAL DIV3       0
MALE % DIV3           0
MALE TOTAL DIV4       0
MALE % DIV4           0
MALE TOTAL DIV7       0
MALE % DIV7           0
MALE TOTAL DIV9       0
MALE % DIV9           0
MALE TOTAL X          0
MALE % X              0
dtype: int64

In [19]:
#Remove rows without school names
df2.dropna(thresh= None, subset= ['SCHOOL'], inplace = True)

In [20]:
df2.dtypes

YEAR                    int64
DISTRICT               object
SCHOOL                 object
TOTAL CANDIDATES      float64
TOTAL DIV 1           float64
% DIV 1               float64
TOTAL DIV 2           float64
% DIV 2               float64
TOTAL DIV 3           float64
% DIV 3               float64
TOTAL DIV 4           float64
% DIV 4               float64
TOTAL DIV 7           float64
% DIV 7               float64
TOTAL DIV 9           float64
% DIV 9               float64
TOTAL X               float64
% X                   float64
FEMALE CANDIDATES       int64
FEMALE TOTAL DIV1     float64
FEMALE % DIV1         float64
FEMALE TOTAL DIV2     float64
FEMALE % DIV2         float64
FEMALE TOTAL DIV3     float64
FEMALE % DIV3         float64
FEMALE TOTAL DIV4     float64
FEMALE % DIV4         float64
FEMALE TOTAL DIV7     float64
FEMALE % DIV7         float64
FEMALE TOTAL DIV9     float64
FEMALE % DIV9         float64
FEMALE TOTAL X        float64
FEMALE % X            float64
MALE CANDIDATES         int64
MALE TOTAL DIV1       float64
MALE % DIV1           float64
MALE TOTAL DIV2       float64
MALE % DIV2           float64
MALE TOTAL DIV3       float64
MALE % DIV3           float64
MALE TOTAL DIV4       float64
MALE % DIV4           float64
MALE TOTAL DIV7       float64
MALE % DIV7           float64
MALE TOTAL DIV9       float64
MALE % DIV9           float64
MALE TOTAL X          float64
MALE % X              float64
dtype: object